MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=bank_db
MYSQL_USER=user
MYSQL_PASSWORD=pass123

N8N_ENCRYPTION_KEY= <output form openssl rand -hex 32>

WEBHOOK_URL=http://<your-server-ip>:5678/

GROQ_API_KEY=<your Groq API key>
